framework: net461
source https://api.nuget.org/v3/index.json

nuget coveralls.io
nuget FAKE
nuget FsCheck.Xunit
nuget OpenCover
nuget ReportGenerator
nuget Unquote
nuget xunit.assert
nuget xunit.runner.console
